/* Importando uma fonte do Google Fonts para um visual mais moderno */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
    /* NOVA PALETA DE CORES - TEMA ESCURO */
    --primary-color: #EC4899;
    /* Rosa vibrante do seu logo */
    --secondary-color: #14B8A6;
    /* Ciano/Verde-água do seu logo */

    --background-color: #111827;
    /* Um azul quase preto para o fundo */
    --surface-color: #1F2937;
    /* Um cinza-azulado escuro para superfícies como cards */
    --text-color: #E5E7EB;
    /* Um cinza bem claro para textos principais */
    --heading-color: #FFFFFF;
    /* Branco puro para títulos de destaque */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

h1,
h2,
h3 {
    color: var(--heading-color);
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}