.header {
    background: var(--surface-color);
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, var(--primary-color), var(--secondary-color)) 1;
    padding: 0.5rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    height: 65px;
}

.logo-text {
    font-family: 'Dancing Script', cursive;
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--heading-color);
    line-height: 1.2;
    white-space: nowrap;
    /* Impede que o texto quebre de forma indesejada */
}

.nav-menu a {
    margin: 0 1rem;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-menu a:hover {
    color: var(--primary-color);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: var(--heading-color);
    margin: 5px 0;
}

/* --- Media Queries para Responsividade --- */

/* Ajuste para tablets */
@media (max-width: 992px) {
    .logo-text {
        font-size: 1.1rem;
    }
}

/* Ajuste para o menu hamburger */
@media (max-width: 768px) {
    .logo-text {
        font-size: 1rem;
        /* Apenas diminuímos a fonte para caber melhor */
        gap: 0.8rem;
        /* Diminuímos o espaço entre o logo e o texto */
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        background: var(--surface-color);
        padding: 1rem 0;
        border-bottom: 1px solid var(--secondary-color);
    }

    .nav-menu.active {
        display: flex;
        align-items: center;
    }

    .nav-menu a {
        margin: 1rem 0;
    }

    .hamburger {
        display: block;
    }
}