.header {
    background: var(--background-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 60px;
    /* Ajuste a altura conforme necessário */
}

.nav-menu a {
    margin: 0 1rem;
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-menu a:hover {
    color: var(--primary-color);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: var(--secondary-color);
    margin: 5px 0;
}

/* Responsividade para o menu */
@media (max-width: 768px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        /* Altura do header */
        left: 0;
        width: 100%;
        background: var(--background-color);
        padding: 1rem 0;
    }

    .nav-menu.active {
        display: flex;
        align-items: center;
    }

    .nav-menu a {
        margin: 1rem 0;
    }

    .hamburger {
        display: block;
    }
}